{%extends 'base.html'%}
{%block contenido%}
<h1 style="text-align: center;">NutriApp</h1>
<p style="font-size: 20px; text-align: center;"> Esta es nuestra nutriApp ispirada en aplicaciones como Myfitnesspal esta aplicacion lo que busca es ayudar a la gente que lo necesite y ayudandolos a que tengan una buena salud y puedan controlar sus alimentos mejor y para prevenir complicaciones de salud y ayudarlos mas a entenderse con su cuerpo y la cantidad de cosas que necesitaria.</p>
<div style="display: flex; justify-content: center; gap: 20px; flex-wrap: wrap; padding: 20px;">
  <div class="card" style="width: 18rem;">
    <img src="static/img/comida1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Funcionalidad</h5>
      <p class="card-text">Nos ayudaría a buscar la forma de poder ayudar a la gente con su alimentación, ayudándolos con la cantidad de comida y les mostrará su progreso mientras avanzan con esa aplicación.</p>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
    <img src="static/img/comida2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Recetas</h5>
      <p class="card-text">Mostraremos las mejores recetas de comida para las personas que coman bien pero equilibrado. Claro, serán comidas ricas y nutritivas para nosotros. Aquí especificaremos los ingredientes aptos para ti y para tu bolsillo.</p>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
    <img src="static/img/comida3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Tablas</h5>
      <p class="card-text">Estas tablas te ayudarán para poner un alimento y que te salga todo lo que contiene, ayudando a saber más sobre lo que uno come y las cantidades de calorías y grasas que tiene.</p>
    </div>
  </div>
</div>
{% endblock %}