{%extends 'base.html'%}
{%block contenido%}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid" style="background-color: rgb(118, 236, 118);">
    <img src="static/img/8775e415-bf26-4673-82a7-e520b045e726-removebg-preview.png" width="80px" height="80px">
    <a class="navbar-brand" href="#">NutriApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('inicio')}}">inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{{url_for('tablas')}}">Tablas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('comidas')}}">comidas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('recetas')}}">recetas</a>
        </li>
      </ul>
      <ul>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('inicioS')}}">inicio de Secion</a>
        </li>
      </ul>
    </div>
  </div>

<center>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h1 class="card-title">Gasto De Calorias</h1>
    <h6 class="card-subtitulo">determina tus calorias gastadas</h6>
    <p>sexo</p>
    <input type="radio" name="Sexo">Masculino
    <input type="radio" name="Sexo">Femenino
    <p>edad</p>
    <input type="number" placeholder="edad" style="width: 300px; height: 35px;">
    <p>peso (kg)</p>
    <input type="number" placeholder="Peso" style="width: 300px; height: 35px;">
    <p>altura (cm)</p>
    <input type="number" placeholder="Altura" style="width: 300px; height: 35px;">
    <p>Nivel de actividad fisica</p>
    <select style="width: 300px; height: 35px;">
        <option value="">poco o ningun ejercicio</option>
        <option value="">ejercicio ligero (1-3 dias ala semana)<option>
        <option value="">ejercicio moderado (3-5 dias ala semana)</option>
        <option value="">ejercicio fuerte (6-7 dias ala semana)</option>
        <option valie="">ejercicio muy fuerte (dos veces al dia de entrenamiento)</option>
        </select>
    <p>cual es tu objetivo</p>
    <select style="width: 300px; height: 35px;">
        <option value="">perder peso</option>
        <option value="">mantener peso</option>
        <option value="">ganar peso<option>
        </select><br><br>
      <button type="button" class="btn btn-success">Calcular Gasto Calorico</button>
  </div>
</div>
<h2>tu gasto calorico es:</h2>
<input type="text" placeholder="Tu gasto calorico es:"  style="width: 300px; height: 35px;" readonly>
</center>
{% endblock %}